:root {
	--box-shadow: 0px 25px 25px 0px #0000000c;
	
	--color-text: #202020;
	--color-link: #005bad;
	--color-primary: #153855;
	--color-white: white;
	--color-black: black;
	--color-bg: #33648f;
	--color-border: #e5e5e5;

	--footer-height: 2.4rem;
	--font-size-xl: 1.25rem;
	--font-size-l: 1.125rem;
	--font-size-m: 1rem;
	--font-size-s: 0.875rem;

	--lg-screen: 1144px;
	--sm-screen: 768px;

	--primary-pale-blue: hsl(225, 100%, 94%);
	--primary-bright-blue: hsl(245, 75%, 52%);

	--neutral-pale-blue: hsl(225, 100%, 98%);
	--neutral-desaturated-blue: hsl(224, 23%, 55%);
	--neutral-dark-blue: hsl(223, 47%, 23%);
}

body {
	background: url("./images/pattern-background-desktop.svg") top left no-repeat;
	background-color: var(--primary-pale-blue);
	background-size: 100%;
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-m);
}

html {
	font-family: "Outfit", sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - var(--footer-height));
}

.main_content {
	border-radius: 12px;
	background: white;
	width: 26%;
	overflow: hidden;
}

h1 {
	padding-bottom: 12px;
}

.card_content {
	text-align: center;
	padding: 24px;
}

.card_buttons {
	display: flex;
	flex-flow: column;
}

.card_details {
	display: flex;
    width: 100%;
    align-items: center;
    padding: 12px;
	border-radius: 12px;
    background-color: #f7f9ff;
	margin-top: 24px;
}

.banner_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
	padding-left: 12px;
}

.card_button {
	margin: 16px 0;
	padding: 16px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}

.card_button_primary {
	color: var(--color-white);
	background-color: var(--primary-bright-blue);
}

.card_button_secondary {
	padding: 0;
	background: transparent;
}

.change_link {
	color:  var(--primary-bright-blue);
}


.footer {
	position: fixed;
	bottom: 24px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.footer_credits {
	display: flex;
	align-items: center;
  justify-content: center;
	padding: 24px;
}